<form id="checkout">
    <h1 class="u-h2">Checkout</h1>
    <ul class="checkout-list">
        <li class="checkout-list-item">
            <img src="/assets/img/pizzas/image-0.png" alt="image de pizza" class="checkout-list-item-image">
            <div class="checkout-list-item-details">
                <h3 class="u-h4 u-marginReset">Pizza de lucca</h3>
                <p class="u-marginReset">Suppléments: mozarella, chèvre, artichaud</p>
                <span class="price u-fontStyleItalic">Prix à l'unité: 16.5€</span>
            </div>
            <div class="checkout-list-item-form">
                <label class="textfield mod-outlined mod-shortest">
                    <input type="text" class="textfield-input u-textRight" name="pizza-number-0" value="1">
                </label>
                <button class="button mod-smaller mod-link" type="button">
                    <span class="lucca-icon icon-close"></span>
                </button>
            </div>
        </li>
    </ul>
    <footer class="u-textCenter u-marginTopStandard">
        <input class="button" type="submit"/>
    </footer>
</form>