$noCssVar: false;

@import "~@lucca-front/scss/src/main.overridable";
@import '~@lucca-front/ng/style/main.overridable';

:root {
	@include generateCSSVarsFromTheme($theme);
}

.cursive {
	font-family: 'Permanent Marker', cursive;
}

ul, li {
	padding: 0;
	margin: 0;
	list-style: none;
}

.radio, .checkbox {
	display: inline-block;
}
