$noCssVar: false;

@import "~@lucca-front/scss/src/main.overridable.scss";
:root {
	@include generateCSSVarsFromTheme($theme);
}

.cursive {
	font-family: 'Permanent Marker', cursive;
}

ul, li {
	padding: 0;
	margin: 0;
	list-style: none;
}