<header>
    <div class="header-content">
        <h1 class="title"><span class="u-h2">Pizza du mois</span><span class="cursive">Lucca</span></h1>
        <button class="button palette-primary">Commander</button>
    </div>
</header>
<main>
    <section class="pizzaSection">
        <h2 class="u-h1">Originales</h2>
        <ul class="pizzaList">
            <li class="pizzaList-item">
                <img src="/assets/img/pizzas/image-0.png" alt="" class="pizzaList-item-img">
                <h3 class="pizzaList-item-name u-marginBottomReset">Lucca</h3>
                <p class="pizzaList-item-desc">Sauce tomate, mozzarella, tomates cerises marinées, billes de mozzarella di latte di Bufala, coppa di Parma IGP, roquette, huile d’olive AOP Kalamata.</p>
                <button class="button mod-small">Commander</button>
            </li>
            <li class="pizzaList-item">
                <img src="/assets/img/pizzas/image-1.png" alt="" class="pizzaList-item-img">
                <h3 class="pizzaList-item-name u-marginBottomReset">Lucca</h3>
                <p class="pizzaList-item-desc">Sauce tomate, mozzarella, tomates cerises marinées, billes de mozzarella di latte di Bufala, coppa di Parma IGP, roquette, huile d’olive AOP Kalamata.</p>
                <button class="button mod-small">Commander</button>
            </li>
            <li class="pizzaList-item">
                <img src="/assets/img/pizzas/image-2.png" alt="" class="pizzaList-item-img">
                <h3 class="pizzaList-item-name u-marginBottomReset">Lucca</h3>
                <p class="pizzaList-item-desc">Sauce tomate, mozzarella, tomates cerises marinées, billes de mozzarella di latte di Bufala, coppa di Parma IGP, roquette, huile d’olive AOP Kalamata.</p>
                <button class="button mod-small">Commander</button>
            </li>
            <li class="pizzaList-item">
                <img src="/assets/img/pizzas/image-3.png" alt="" class="pizzaList-item-img">
                <h3 class="pizzaList-item-name u-marginBottomReset">Lucca</h3>
                <p class="pizzaList-item-desc">Sauce tomate, mozzarella, tomates cerises marinées, billes de mozzarella di latte di Bufala, coppa di Parma IGP, roquette, huile d’olive AOP Kalamata.</p>
                <button class="button mod-small">Commander</button>
            </li>
        </ul>
    </section>
    <section class="pizzaSection">
        <h2 class="u-h1">Classiques</h2>
        <ul class="pizzaList">
            <li class="pizzaList-item">
                <img src="/assets/img/pizzas/image-4.png" alt="" class="pizzaList-item-img">
                <h3 class="pizzaList-item-name u-marginBottomReset">Lucca</h3>
                <p class="pizzaList-item-desc">Sauce tomate, mozzarella, tomates cerises marinées, billes de mozzarella di latte di Bufala, coppa di Parma IGP, roquette, huile d’olive AOP Kalamata.</p>
                <button class="button mod-small">Commander</button>
            </li>
            <li class="pizzaList-item">
                <img src="/assets/img/pizzas/image-5.png" alt="" class="pizzaList-item-img">
                <h3 class="pizzaList-item-name u-marginBottomReset">Lucca</h3>
                <p class="pizzaList-item-desc">Sauce tomate, mozzarella, tomates cerises marinées, billes de mozzarella di latte di Bufala, coppa di Parma IGP, roquette, huile d’olive AOP Kalamata.</p>
                <button class="button mod-small">Commander</button>
            </li>
            <li class="pizzaList-item">
                <img src="/assets/img/pizzas/image-6.png" alt="" class="pizzaList-item-img">
                <h3 class="pizzaList-item-name u-marginBottomReset">Lucca</h3>
                <p class="pizzaList-item-desc">Sauce tomate, mozzarella, tomates cerises marinées, billes de mozzarella di latte di Bufala, coppa di Parma IGP, roquette, huile d’olive AOP Kalamata.</p>
                <button class="button mod-small">Commander</button>
            </li>
            <li class="pizzaList-item">
                <img src="/assets/img/pizzas/image-7.png" alt="" class="pizzaList-item-img">
                <h3 class="pizzaList-item-name u-marginBottomReset">Lucca</h3>
                <p class="pizzaList-item-desc">Sauce tomate, mozzarella, tomates cerises marinées, billes de mozzarella di latte di Bufala, coppa di Parma IGP, roquette, huile d’olive AOP Kalamata.</p>
                <button class="button mod-small">Commander</button>
            </li>
        </ul>
    </section>
</main>